*{
	margin:0;
	padding:0;
}

body{
  margin:0;
  padding:0;
  height:1000px;
}

.black li {
    display:  inline-block;
    color:  red;
    padding: 20px 130px;
}

.black ul {
    list-style-type:  none;
    padding:  0;
}

.black {
    position:  fixed;
    height:  50px;
    width:  100%;
    background: #000000b3;
    top: 0;
    left:  0;
}

